form action="/vote/change/#{id}" method='post'
        input type="hidden" name="vote" value="#{value}"
        input type="hidden" name="path" value=@path 
        button type="submit" #{button_text}
