

form action="/posts/new" method='post'
    input type='text' class='title_input' name='Title' placeholder="Title"
    input type='text' class='content_input' name='content' placeholder="content"
    button type='submit' create